.linkContainer{
    background-color: rgb(224, 222, 222);
    border: solid black;
    border-radius: 24px;
    width: 95vw;
    max-width: 100%;
    margin: 20px auto; 
    padding: 25px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  
}
.Mytitle{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  color: #111620;
  text-align: center;
  font-size: 30px;
  font: bold;
  text-decoration: underline;
  margin-top: 30px;
}
.Myp{
  margin-bottom: 40px;
margin-top: 30px;
color: black;
margin-top: -20px;
text-align: center;
 
}

label{
    display: block;
    color:#94a3b8;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.MyButton{
  margin-top: 30px;
 color: black;
 background-color: rgb(32, 183, 193);
 height: 30px;
 width: 120px;
 border: solid black;

}
.MyButton:hover{
  background-color: rgb(65, 242, 255);
}
.insideContainer{
  display: flex;
  flex-direction: column; 
  width: 100%;
  box-sizing: border-box;
}
.inputtitle{
  color: #ffffff;
  background-color: white;
  box-sizing: border-box;
  font: bolder;
  width: 100% ;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid pink;
  border-radius: 24px;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
.inputtitle:hover{
  background-color:rgb(245, 211, 216);
  color: black; 
  
}
.inputdesc{
  color: #ffffff;
  background-color: white;
  font: bold;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid pink;
  border-radius: 24px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.inputdesc:hover{
  background-color:rgb(245, 211, 216);
  color: black;
}

.password{
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  color: #111620;
  margin-bottom: 20px;
  color: purple;
}
.click{
  color: green;
  font: bold;
}
.bc{
  text-align: start;
}
.text{
  color: black;
}
.linkss{
  margin-top: -20px;
}
label{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
