.button {
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  height: 50px;
 border: solid black;
 width:120px;
 margin: 8px;
}
.button:hover{
  background-color: rgb(247, 107, 130);
}

.inputting {
  background-color: rgb(255, 52, 85);
  color: white;
  width: 95%;
  justify-content: center;
}

.undoBtn {
  background-color: #616970;
  color: white;
}

.danger {
  background-color: #dc3545;
  color: white;
}
.danger:hover{
  background-color: red;
}

.icon {
  display: flex;
  align-items: center;
}

