.drop{
    margin-top: 5px;
    padding-left: 10px;
}
.bc{
    text-align: start;
  
}
.addForm{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
    color: black;
  

}
.buttonAdd{
    margin-left: -5px;
    color: black;
    width: 70vw;
}
.nn{
    background: #f5f5f5;
     padding: 10px;
      margin-bottom: 10px;
}
.text{
    display: flex;
     justify-content: space-between;
}
.group{
    margin-bottom: 20px;
     border: 1px solid #ddd;
     padding: 10px;
     border-radius: 10px; 
     border: 3px solid rgb(135, 28, 46);
    background-color: rgb(196, 194, 194);
    margin-top: 10px;
}
.itemcontainer{
    width: 80vw;
    max-height: 95vh;
    border: solid black;
    margin: 20px auto; 
    padding: 25px;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: rgb(224, 222, 222);
    overflow-y: scroll;

}
.top{
 color:  rgb(255, 52, 85); 
}
.buttonAdd{
    text-align: center; 
}
.in{
    margin-bottom: 30px;
    height: 30px;
    border-radius: 25px;
}
.smalladd{
    border-radius: 25px;
    background-color:rgb(255, 52, 85);
    width: 120px;
    height: 30px;
}
.img{
    width: 30px;
    height: 30px;
}
.inputs{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 10px;
}
.dropdown{
    color: black;
    background-color: white;
    border: rgb(255, 52, 85);
    
}
.cancel{
    background-color: grey;
  color: white;
  margin-top: 10px;
  border-radius: 25px;
  border:1px solid black;
}

.top{
    display: flex;
    gap: 8px;
    margin-top: 10px;
}
.in{
    border:1px solid pink;
    background-color: white;
}
.in:hover{
    background-color: pink;
}
.sinput{
    width: 65vw;
   border :1px solid black;
   margin-bottom: 5px;
   border-radius: 24px;
}
.savebutton{
    text-align: center;
    margin-top: 10px;
}
@media(width<=689px) and (width>=320px){
     
    .smalladd{
        width: 80px;
    height: 50px;
    border-radius: 15px;
    }  
    .buttonAdd{
        margin-left: -20px;
    }
    .sinput{
        display: flex;
        width: 95%;
}
}