.drop{
    margin-top: 5px;
    padding-left: 10px;
}
.bc{
    text-align: start;
    border: solid black;
}
.addForm{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 20px;
    color: aqua;
    background-color: bisque;
}
.buttonAdd{
    text-align: center;
    background-color: blueviolet;
    color: black;
}
.nn{
    background: #f5f5f5;
     padding: 10px;
      margin-bottom: 10px;
}
.text{
    display: flex;
     justify-content: space-between;
}
.group{
    margin-bottom: 20px;
     border: 1px solid #ddd;
     padding: 10px;
     border-radius: 10px; 
}